<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deerslab.animalsounds" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BirdsAnimalActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".DomesticAnimalActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".InsectAnimalActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".WildAnimalActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>

    </application>

</manifest>
